body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.header_nav {
    padding: 30px 0;
}

.header_menu {
    list-style: none;
    display: flex;
    gap: clamp(8px, 3vw, 50px); 
    padding: 0;
    margin: 0;
}

.header_link {
    font-weight: 400;
    font-size: clamp(10px, 2.5vw, 16px) 400;;
    line-height: 164%;
    letter-spacing: 0.1em; 
    text-transform: uppercase;
    color: #34547A;
    text-decoration: none;
}

.header_link-active {
    font-weight: 700;
}

/* HERO */

.hero {
    background-color: #eeeff1;
    padding: 60px 0 100px;
}

.hero_content {
    max-width: 540px;
    margin-top: 100px;
}

.hero_title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.64;
    margin-bottom: 20px;
}

.hero_text {
    font-size: 16px;
    max-width: 540px;
    margin: 0 0 30px;
    color: #727272;
    line-height: 1.64;
}

.hero_btn {
    border: none; 
    padding: 16px 30px;
    background-color: #34547A;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hero_btn:hover {
    background-color: #fff;
    color: #000;
}

/* ABOUT */

#about {
    text-align: center;
    padding: 100px 0;
}
#about h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;      
    text-align: center;
    margin-bottom: 25px;
}

#about p {
    max-width: 540px;
    margin: 0 auto;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.64;

    color: #727272;
    text-align: center;
}

/* PROJECTS */

#numbers {
    background-color: #34547A;
    padding: 80px 0;
}

#numbers .container {
    display: flex;
    justify-content: space-between;
}

.num-item {
    flex: 0 1 16.6%;
    display: flex;
    justify-content: center;
}

.num-item img {
    max-width: 100%;
    height: auto;
}

/* WORK */

#process {
    background-color: #EEEFF1;
    padding: 100px 0 120px;
    text-align: center;
}

.process_text {
    max-width: 540px;
    margin: 20px auto 60px;
    color: #727272;
    font-size: 16px;
    line-height: 1.64;
}

.video-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.video-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.video-wrap img:first-child {
    width: 100%;
    height: auto;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100px;        
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

/* FOOTER */
footer {
    background-color: #34547A;
    color: #fff;
    padding: 50px 0;
}
.footer_content {
    text-align: left;
}

.footer_name {
    font-weight: 500;
    margin-bottom: 20px;
}

.footer_copy {
    font-size: 13px;
    opacity: 0.8;
}